
body {
	background-color: #eee;
	background-image: url('../images/cork.jpg');
    font-family: "Segoe UI", Segoe, Calibri, Arial, sans-serif;
	margin: 0;
	padding: 20px 10px 20px 20px;
}

ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.message {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

.green-darker-top {
    background-color:rgb(153,255,179);
	/* @alternate */ background-image:-moz-linear-gradient(52% -1% -92deg,rgb(135,220,156) 0%,rgb(153,255,179) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-92deg,rgb(135,220,156) 0%,rgb(153,255,179) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-92deg,rgb(135,220,156) 0%,rgb(153,255,179) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-92deg,rgb(135,220,156) 0%,rgb(153,255,179) 100%);
	background-image:linear-gradient(-92deg,rgb(135,220,156) 0%,rgb(153,255,179) 100%);
}

.green-darker-bottom {
    background-color:rgb(153,255,179);
	/* @alternate */ background-image:-moz-linear-gradient(52% -1% -92deg,rgb(153,255,179) 0%,rgb(135,220,156) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-92deg,rgb(153,255,179) 0%,rgb(135,220,156) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-92deg,rgb(153,255,179) 0%,rgb(135,220,156) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-92deg,rgb(153,255,179) 0%,rgb(135,220,156) 100%);
	background-image:linear-gradient(-92deg,rgb(153,255,179) 0%,rgb(135,220,156) 100%);
}

.teal-darker-top {
    background-color:rgb(115,255,255);
	/* @alternate */ background-image:-moz-linear-gradient(50% -5% -89deg,rgb(116,218,218) 0%,rgb(115,255,255) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-89deg,rgb(116,218,218) 0%,rgb(115,255,255) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-89deg,rgb(116,218,218) 0%,rgb(115,255,255) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-89deg,rgb(116,218,218) 0%,rgb(115,255,255) 100%);
	background-image:linear-gradient(-89deg,rgb(116,218,218) 0%,rgb(115,255,255) 100%);
}

.teal-darker-bottom {
	background-color:rgb(115,255,255);
	/* @alternate */ background-image:-moz-linear-gradient(50% -5% -89deg,rgb(115,255,255) 0%,rgb(116,218,218) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-89deg,rgb(115,255,255) 0%,rgb(116,218,218) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-89deg,rgb(115,255,255) 0%,rgb(116,218,218) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-89deg,rgb(115,255,255) 0%,rgb(116,218,218) 100%);
	background-image:linear-gradient(-89deg,rgb(115,255,255) 0%,rgb(116,218,218) 100%);
}

.yellow-darker-top {
	background-color:rgb(255,255,115);
	/* @alternate */ background-image:-moz-linear-gradient(50% 0% -90deg,rgb(238,238,119) 0%,rgb(255,255,115) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(238,238,119) 0%,rgb(255,255,115) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(238,238,119) 0%,rgb(255,255,115) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(238,238,119) 0%,rgb(255,255,115) 100%);
	background-image:linear-gradient(-90deg,rgb(238,238,119) 0%,rgb(255,255,115) 100%);
}

.yellow-darker-bottom {
	background-color:rgb(255,255,115);	
	/* @alternate */ background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,115) 0%,rgb(238,238,119) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(255,255,115) 0%,rgb(238,238,119) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(255,255,115) 0%,rgb(238,238,119) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(255,255,115) 0%,rgb(238,238,119) 100%);
	background-image:linear-gradient(-90deg,rgb(255,255,115) 0%,rgb(238,238,119) 100%);
}

.magenta-darker-top {
	background-color:rgb(255,153,255);
	/* @alternate */ background-image:-moz-linear-gradient(50% -2% -90deg,rgb(225,152,225) 0%,rgb(255,153,255) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(225,152,225) 0%,rgb(255,153,255) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(225,152,225) 0%,rgb(255,153,255) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(225,152,225) 0%,rgb(255,153,255) 100%);
	background-image:linear-gradient(-90deg,rgb(225,152,225) 0%,rgb(255,153,255) 100%);
}

.magenta-darker-bottom {
    background-color:rgb(255,153,255);
    /* @alternate */ background-image:-moz-linear-gradient(50% -2% -90deg,rgb(255,153,255) 0%,rgb(206,139,207) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(255,153,255) 0%,rgb(206,139,207) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(255,153,255) 0%,rgb(206,139,207) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(255,153,255) 0%,rgb(206,139,207) 100%);
	background-image:linear-gradient(-90deg,rgb(255,153,255) 0%,rgb(206,139,207) 100%);
}
.orange-darker-top {
	background-color:rgb(255,191,0);
	/* @alternate */ background-image:-moz-linear-gradient(50% -2% -90deg,rgb(227,169,3) 0%,rgb(255,191,0) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(227,169,3) 0%,rgb(255,191,0) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(227,169,3) 0%,rgb(255,191,0) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(227,169,3) 0%,rgb(255,191,0) 100%);
	background-image:linear-gradient(-90deg,rgb(227,169,3) 0%,rgb(255,191,0) 100%);
}

.orange-darker-bottom {
    background-color:rgb(255,191,0);
    /* @alternate */ background-image:-moz-linear-gradient(50% -2% -90deg,rgb(255,191,0) 0%,rgb(202,154,8) 100%); 
	/* @alternate */ background-image:-webkit-linear-gradient(-90deg,rgb(255,191,0) 0%,rgb(202,154,8) 100%);
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgb(255,191,0) 0%,rgb(202,154,8) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgb(255,191,0) 0%,rgb(202,154,8) 100%);
	background-image:linear-gradient(-90deg,rgb(255,191,0) 0%,rgb(202,154,8) 100%);
}

.author-ccw-5 {
	-moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg) translateY(-4px);
    transform: rotate(-5deg) translateY(-4px);
}
.author-ccw-2 {
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg) translateY(-4px);
    transform: rotate(-2deg) translateY(-4px);
}
.author-cw-2 {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg) translateY(-4px);
    transform: rotate(2deg) translateY(-4px);
}
.author-cw-5 {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg) translateY(-4px);
    transform: rotate(5deg) translateY(-4px);
}
.author {	
	border-radius:15px;
	box-shadow:5px 5px 4px rgba(0,0,0,0.65);
    float: left;
    font-size: 84%;
    padding: 0 2px 5px;
    text-align: center;
    width:100px;
}

.author img {
    background-color:rgb(153,255,179);
    border-radius:10px ;
    box-shadow:2px 1px 2px 2px rgba(0,0,0,0.65);
    margin-top: 10px;
}

h4 {
    margin: 0;
    font: 100% normal Arial, Helvetica, sans-serif;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment p {
    margin: 0;
	padding: 0 0 10px 0;
}
.comment-ccw-1_5 {
    -moz-transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg) translateY(10px);
    transform: rotate(-1.5deg) translateY(10px);
}
.comment-ccw-0_5 {
    -moz-transform: rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg) translateY(8px);
    transform: rotate(-0.5deg) translateY(8px);
}
.comment-cw-0_5 {
    -moz-transform: rotate(0.5deg);
    -webkit-transform: rotate(0.5deg) translateY(8px);
    transform: rotate(0.5deg) translateY(8px);
}
.comment-cw-1_5 {
    -moz-transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg) translateY(10px);
    transform: rotate(1.5deg) translateY(10px);
}
.comment {
    border-radius: 10px;
    box-shadow:5px 4px 3px rgba(0,0,0,0.65);
    margin: 5px 0 0 112px;
    padding: 10px 15px 5px 15px;
    position: relative;
    word-wrap: break-word;
}
