{namespace messageboard.templates.messageboard}

/**
 * Builds up the html used within the Message Board root controller.
 * Author: fisherds@gmail.com (Dave Fisher)
 */

/**
 * Loads the message board DOM elements.
 */
{template .main}
{/template}