{namespace messageboard.templates.messageboard}

/**
 * Builds up the html used within the Message Board root controller.
 * Author: fisherds@gmail.com (Dave Fisher)
 */

/**
 * Loads the message board DOM elements.
 */
{template .main}
    <div id='message-post'></div>
    <div id='message-viewer'></div>
{/template}