
#message-post {
	position: absolute;
	width: 100%;
  text-align: center;
	top: 0;
}

@media screen and (min-width: 660px) {
  #message-post {
    width: 660px;
    left: 50%;
    margin-left: -330px;
  }
}

.no-messages {
	text-align: center;
}

.post-backdrop {
	background: #963737; /* Old browsers */
  /* alternate */ background: -moz-linear-gradient(top,  #963737 0%, #000000 100%); /* FF3.6+ */
  /* alternate */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#963737), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  /* alternate */ background: -webkit-linear-gradient(top,  #963737 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  /* alternate */ background: -o-linear-gradient(top,  #963737 0%,#000000 100%); /* Opera 11.10+ */
  /* alternate */ background: -ms-linear-gradient(top,  #963737 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #963737 0%,#000000 100%); /* W3C */	
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 1);
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 1);
  display: -webkit-flex;
  display: -moz-flex;
	display: flex;
  height: 68px;
  z-index: 1;  /* Positioned elements with a Z-level form a stacking context */
  /* Link about painting https://developer.mozilla.org/en-US/docs/CSS/Understanding_z-index/The_stacking_context */
}

.img-wrapper {
	position: relative;
	width: 100px;
}

.post-backdrop img {
  border-radius: 10px;
  box-shadow: 0 0 0 1px gray, 2px 2px 1px 1px rgba(150,150,150,0.75);
  margin-top: -28px;
  position: absolute;
  top: 50%;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

#post-input {
	border: solid 2px darkgrey;
  border-radius: 8px;
  -webkit-flex: 1;
  flex: 1;
  font: 14px/20px Arial, san-serif;
  outline: none;
  padding-left: 7px;
  margin: 16px 10px 0 0;
}

.auth-button-wrapper {
	width: 100%;
}

.auth-button {
	display: inline;
	line-height: 68px;
}
