@media screen and (min-width: 640px) {
    #message-viewer {
      position: relative;
      width: 640px;
      left: 50%;
      margin-left: -320px;
    }
}

ol {
	margin: 5px;
	padding: 0;
	list-style: none;
}

li:last-child {
  margin-bottom: 100px;
}

.message {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

.author {	
	border-radius:15px;
	box-shadow:5px 5px 4px rgba(0,0,0,0.65);
    float: left;
    font-size: 84%;
    padding: 0 2px 5px;
    text-align: center;
    width:100px;
    
    /* @alternate */ background-image:-moz-linear-gradient(50% 0% -90deg,rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); 
	/* @alternate */ background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(0,0,0,0.3)),color-stop(1, rgba(255,255,255,0)));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(0,0,0,.3)),color-stop(1, rgba(255,255,255,0)));
	/* @alternate  background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); */
	/* @alternate */ background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%);
	/* @alternate */ background-image:-ms-linear-gradient(-90deg,rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%);
	/*background-image:linear-gradient(-90deg,rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%);*/
}

.author img {
    border-radius:10px ;
    box-shadow:2px 1px 2px 2px rgba(0,0,0,0.65);
    margin-top: 10px;
}

h4 {
    margin: 0;
    font: 100% normal Arial, Helvetica, sans-serif;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment p {
    margin: 0;
	padding: 0 0 10px 0;
}

.comment {
    border-radius: 10px;
    box-shadow:5px 4px 3px rgba(0,0,0,0.65);
    margin: 30px 0 0 115px;
    padding: 10px 15px 5px 15px;
    position: relative;
    word-wrap: break-word;
    
    /* @alternate */ background-image:-moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%); 
    /* @alternate */ background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(0,0,0,0.4)));
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(0,0,0,0.4)));
    /* @alternate  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%); */
    /* @alternate */ background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
    /* @alternate */ background-image:-ms-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
    /*background-image:linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);*/
}
